<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Seleição - Seu voto seleto</title>

    {% block css %}
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/seleicao.css" rel="stylesheet">
    {% endblock %}

  </head>
  <body>
    {% block navbar %}
    {% endblock %}


    <div class="row height100">
        <div class="col-md-12">
            <div class="container-fluid">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>


    <footer>
        <div class="col-md-12 text-center">
            <p>&copy; Seleição app 2014 - Desenvolvido durante o <a href="http://dev.transparencia.org.br/api-portal/hackathon" target="blank">Hackathon Transparência Brasil</a></p>
        </div>
    </footer>

    {% block javascript %}
        <script src="static/js/jquery-2.1.1.min.js"></script>
        <script src="static/js/bootstrap.min.js"></script>
        <script src="static/js/jquery.bootstrap.wizard.min.js"></script>
        <script src="static/js/seleicao.js"></script>
    {% endblock %}
  </body>

  {% block custom_scripts %}

  {% endblock %}
</html>