{% extends '_base.html' %}

{% block content %}
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading"><h4>Selecione os atributos do seu candidato</h4></div>
            <div class="panel-body">
                <form name="search" action="/search" method="get" role="form">
                    <div class="form-group">
                        <label for="name">Estados:</label>
                        <select name="uf" id="uf" class="form-control">
                            {{ estados }}
                            {% for estado in estados %}
                                <option value="{{ estado.id }}">{{ estado.sigla }}</option>
                            {% endfor %}
                         </select>
                    </div>

                    <p class="text-right">
                        <input class="btn btn-primary" type="submit" name="submit" value="Seleição!" />
                    </p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}