{% extends '_base.html' %}

{% block content %}
    <div class="container">
    {% for candidato in candidatos %}
    <div class="row {% if loop.index > 1 %}hidex {% endif %}" data-candidatoid="{{ candidato.candidato_id }}">
        <div class="col-md-12">
         <div class="well profile col-md-6">
            <div class="col-sm-12">
                <div class="col-xs-12 col-sm-8">
                    <h3>{{ candidato.nome}}</h3>
                    <div class="candidate_details" data-candidatoId="{{ candidato.candidato_id }}" id="{{ candidato.candidato_id }}">
                            <div id="candidato-spinner">
                                Carregando dados do candidato.....<br><br>
                                <img src="http://i.stack.imgur.com/FhHRx.gif">
                            </div>
                    </div>

                </div>             
                <div class="col-xs-12 col-sm-4 text-center">
                    <figure>
                        <img src="{{ candidato.foto}}" alt="" class="img-circle img-responsive">
                    </figure>
                </div>
            </div>            
            <div class="col-xs-12 divider text-center top-15">
                <div class="col-xs-12 col-sm-4 emphasis">
                    <button class="btn btn-success btn-block btn-success btn-voto" data-candidato="{{ candidato.candidato_id}}" data-voto="1"><span class="fa fa-plus-circle"></span> Voto </button>
                </div>
                <div class="col-xs-12 col-sm-4 emphasis">
                    <button class="btn btn-info btn-block btn-warning btn-voto" data-candidato="{{ candidato.candidato_id}}" data-voto="0"><span class="fa fa-user"></span> Não Voto </button>
                </div>
                <div class="col-xs-12 col-sm-4 emphasis">
                    <div class="btn-group dropup btn-block">
                      <button class="btn btn-info btn-block btn-danger btn-voto" data-candidato="{{ candidato.candidato_id}}" data-voto="-1"><span class="fa fa-user"></span> Anulo </button>  
                    </div>
                </div>
            </div>
         </div>                 
        </div>
    </div>
    {% endfor %}

</div>


{% raw %} 
<script id="tmpl_candidato_details" type="text/template">
<p ><strong>Apelido: {{ apelido }}</strong> </p>
<p ><strong>Cargo: </strong> {{ cargo }} </p>
<p ><strong>Partido: </strong> {{ partido }} </p>
<p ><strong>Estado: </strong> {{ estado }} </p>
<p ><strong>Grau Instrucao: </strong> {{ instrucao }} </p>
<p ><strong>Ocupação: </strong> {{ ocupacao }} </p>
<p ><strong>Casa Atual: </strong> {{ casaAtual }} </p>
<p ><strong>Reeleição: </strong> {{ reeleicao }} </p>
</script>
{% endraw %}
{% endblock %}


{% block custom_scripts %}
    <script src="static/js/mustache.js"></script>
    <script src="static/js/show_candidato.js"></script>
{% endblock %}